<html>  
  <body>  
  <h3>Hi ${name}, </h3> 
  <div>
  Successfully registered with EmployeeDB. 
  </div>
  <div> 
   you can login using ${mobilenumber} or ${email}
   and password :${password}
  </div>  
  </body>  ou did not request any registration, ignore this message and nothing will happen.
  </html> 